{% extends 'base.html' %}
{% load static %}
    {% block title %} شکارچی {% endblock %}

  {% block banner %}
<!--site banner-->
<section class="banner-part" xmlns="http://www.w3.org/1999/html">
      <div class="container">
        <div class="banner-content">
        </br>
          <h1>
              سایتی برای اشتراک گذاری و مدیریت فایل # رایگان # برای املاکیان
          </h1>
            <h1></h1>
        </br>
          <p>
              # برای راحتی کار شما #
          </p>
        </div>
      </div>
    </section>
  {% endblock %}

        {% block scripts %}
        <!--3 digits space and filters-->
        <script src="js/vendor/jquery-ui.min.js"></script>
        <script src="js/custom/price-range.js"></script>
            <script>
                let price = document.getElementsByClassName("price")
                window.onload = function WindowLoad(event) {
                  for (var i = 0; i < price.length; i++) {
                    price[i].innerHTML = price[i].innerHTML.split('').reverse().join('').replace(/(.{3})/g,'$1,').replace(/,$/,'').split('').reverse().join('')
                }}
            </script>


        <script>
        function ToRial(str, e) {

            str = str.replace(/\,/g, '');
            var objRegex = new RegExp('(-?[0-9]+)([0-9]{3})');

            while (objRegex.test(str)) {
                str = str.replace(objRegex, '$1,$2');
            }
            var span = document.getElementById(e);
            span.innerHTML = str
            return str;
        }



var subject = null

function Subject(value) {
  subject = value
  if (value == "rent" | value == "mortgage"){
    if(value == "mortgage"){
      $(".all_rent_price").removeClass("d-none");
      $(".reent").addClass("d-none");
    }
    if(value == "rent"){
      $(".all_rent_price").removeClass("d-none"),
      $(".reent").removeClass("d-none");
    }
    $(".all_price").addClass("d-none"),
    $(".land_type").addClass("d-none"),
    $(".rice_field_type").addClass("d-none");
  }else{
    $(".all_rent_price").addClass("d-none"),
    $(".reent").addClass("d-none"),
    $(".all_price").removeClass("d-none");
  };
}



function Type(value) {
  if (value == "house" | value == "shop"){
    if (subject == 'rent'){
      $(".all_rent_price").removeClass("d-none"),
      $(".reent").removeClass("d-none"),
      $(".all_price").addClass("d-none");
    }
    if (subject == 'mortgage'){
      $(".all_rent_price").removeClass("d-none"),
      $(".reent").addClass("d-none");
    }
    if (subject == 'sale'){
      $(".all_price").removeClass("d-none"),
      $(".all_rent_price").addClass("d-none"),
      $(".land_type").addClass("d-none"),
      $(".rice_field_type").addClass("d-none"),
      $(".reent").addClass("d-none");
    }
    if (value == "house"){
      $(".house_type").removeClass("d-none"),
      $(".foundation").removeClass("d-none");
      }

    if (value == "house" | value == "apartment"){
        $(".bedroom").removeClass("d-none"),
        $(".year").removeClass("d-none");
      }


    $(".options").removeClass("d-none"),
    $(".production_license").addClass("d-none"),
    $(".inside_plan").addClass("d-none"),
    $(".points").addClass("d-none");
  }else{
    $(".foundation").addClass("d-none"),
    $(".house_type").addClass("d-none"),
    $(".rice_field_type").addClass("d-none"),
    $(".options").addClass("d-none"),
    $(".bedroom").addClass("d-none"),
    $(".year").addClass("d-none"),
    $(".land_type").removeClass("d-none"),
    $(".production_license").removeClass("d-none"),
    $(".inside_plan").removeClass("d-none"),
    $(".points").removeClass("d-none");
  };
}



function LandType(value) {
  if (value == "rice_field"){
    $(".rice_field_type").removeClass("d-none"),
    $(".production_license").addClass("d-none");
  }else{
    $(".rice_field_type").addClass("d-none"),
    $(".production_license").removeClass("d-none");
  };
  if (value == "garden" | value == "rice_field"){
    $(".inside_plan").removeClass("d-none");
  }else{
    $(".inside_plan").addClass("d-none");
  }
}

        </script>
        {% endblock %}
    {% block content %}

<!--current page-->
    <section class="ad-list-part">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="product-filter">
              <div class="product-page-number">
                <p>صفحه {{ page_obj.number }} از {{page_obj.paginator.num_pages}} </p>
              </div>
              <ul class="product-card-type">
                <li class="grid-verti active">
                  <i class="fas fa-grip-vertical"></i>
                </li>
                <li class="grid-hori">
                  <i class="fas fa-grip-horizontal"></i>
                </li>
              </ul>
            </div>
          </div>
        </div>




<!--item filters-->
        <div class="row content-reverse">
          <div class="col-lg-3">
            <div class="row">
              <div class="col-md-6 col-lg-12">
                <div class="product-sidebar">
                  <div class="product-sidebar-title">
                    <h6>جستجوی کد </h6>
                  </div>
                  <div class="product-sidebar-content">
                      <form class="" role="search" method="GET" action="{% url 'home:search' %}">
                        <ul class="product-sidebar-list">
                          <li>
                              <input
                              name="code"
                              type="number"
                              class="form-control"
                              placeholder="کد مورد نظر را وارد کنید..."
                            />
                          </li>
                          <li>
                            {% if request.user.is_authenticated %}
                            <select class="nasted-menu " name="search_in" >
                                <option value="all">جستوجو بین همه</option>
                                <option value="profile">بین فایل های من</option>
                            </select>
                            {% endif %}
                          </li>
                        </ul>
                        <button class="product-filter-btn" type="submit">
                          <i class="fas fa-search"></i><span>جستجو </span>
                        </button>
                      </form>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-12">
                <div class="product-sidebar">
                  <div class="product-sidebar-title">
                    <h6>فیلتر </h6>
                  </div>
                  <div class="product-sidebar-content">
                  <form class="" role="search" method="GET" action="{% url 'home:search' %}">
                    <ul class="product-sidebar-list">
                      <li>
                        <input name="state" type="text" class="form-control" placeholder="استان" />
                      </li>
                      <li>
                        <input name="city" type="text" class="form-control" placeholder="شهر/محل" />
                      </li>
                      <li>
                        <input onkeyup="ToRial(this.value, 'a');"
                          name="area"
                          type="number"
                          class="form-control"
                          placeholder="متراژ تا.."
                        /><span id="a"></span>
                      </li>
                      <li class="all_price">
                        <input
                                onkeyup="ToRial(this.value, 'p');"
                                id="id_all_price"
                          name="all_price"
                          type="number"
                          class="form-control"
                          placeholder="قیمت تا.."
                        /><span id="p"></span>
                      </li>
                      <li class="all_rent_price d-none">
                        <input onkeyup="ToRial(this.value, 'arp');"
                          name="all_rent_price"
                          type="number"
                          class="form-control"
                          placeholder="ودیعه تا.."
                        /><span id="arp"></span>
                      </li>
                      <li class="reent d-none">
                        <input onkeyup="ToRial(this.value, 'r');"
                        name="rent"
                        type="number"
                        class="form-control"
                        placeholder="کرایه تا.."
                         /><span id="r"></span>
                      </li>
                      <li class="subject">
                       <select onchange="Subject(this.value)" class="nasted-menu " name="subject" id="subjectval">
                            <option value="">نوع قرارداد</option>
                            <option value="sale">فروش</option>
                            <option value="mortgage">رهن</option>
                            <option value="rent">اجاره</option>
                       </select>
                      </li>
                      <li class="type">
                        <select onchange="Type(this.value)" class="nasted-menu" name="type">
                            <option value="">نوع ملک</option>
                            <option value="house">خانه</option>
                            <option value="land">زمین</option>
                            <option value="shop">مغازه</option>
                       </select>
                      </li>
                      <li class="land_type d-none">
                       <select onchange="LandType(this.value)" class="nasted-menu"  name="land_type">
                            <option value="">نوع زمین</option>
                            <option value="rice_field">کشاورزی</option>
                            <option value="garden">باغی</option>
                            <option value="residential">مسکونی</option>
                            <option value="commercial">تجاری</option>
                            <option value="res_comm">مسکونی - تجاری</option>
                       </select>
                      </li>
                      <li class="house_type d-none">
                        <select class="nasted-menu"  name="house_type">
                            <option value="">نوع خانه</option>
                            <option value="villa"> ویلایی</option>
                            <option value="apartment">آپارتمانی</option>
                       </select>
                      </li>
                      <li class="rice_field_type d-none">
                        <select class="nasted-menu"  name="rice_field_type">
                            <option value="">نوع زمین کشاورزی</option>
                            <option value="traditional">سنتی</option>
                            <option value="mechanized">مکانیزه</option>
                       </select>
                      </li>
                      <li  class="documents">
                        <select class="nasted-menu"  name="documents">
                            <option value="">نوع مدرک</option>
                            <option value="deed">سند دار</option>
                            <option value="nasaq">نسق</option>
                            <option value="arrangement">قولنامه / فروشنامه ای</option>
                        </select>
                      </li>
                      <li>
                        {% if request.user.is_authenticated %}
                        <select class="nasted-menu " name="search_in" >
                            <option value="all">جستوجو بین همه</option>
                            <option value="profile">بین فایل های من</option>
                        </select>
                        {% endif %}
                      </li>
                    </ul>

                    <button class="product-filter-btn" type="submit">
                      <i class="fas fa-broom"></i><span>اعمال فیلتر</span>
                    </button>
                  </form>
                  </div>
                </div>
              </div>
            </div>
          </div>

<!--items-->
          <div class="col-lg-9">
            <div class="row">
                {% for item in items %}
                <div class="col-sm-6 col-md-4 col-lg-4 card-grid">
                  <div class="product-card">
                    <div class="product-head">
                      <div
                        class="product-img"
                          style=
                          "background: url(
                          {% if item.images.all.first %}
                          {{item.images.all.first.image.url}}
                          {% else %}
                          {% static 'images/defaults/item-default.jpg' %}
                          {% endif %}
                          ) no-repeat center;
                          background-size: cover;">
                          <span class="flat-badge
                        {% if item.subject == 'sale' %}
                          sale
                        {% elif item.subject == 'mortgage' %}
                          booking
                        {% else %}
                          rent
                        {% endif%}
                        ">
                        {% if item.subject == 'sale' %}
                          فروش
                        {% elif item.subject == 'mortgage' %}
                          رهن
                        {% else %}
                          اجاره
                        {% endif%}
                      </span>
                      </div>
                    </div>
                    <div class="product-info">
                      <div class="product-tag">
                        <i class="fas fa-tags"></i>
                        <ol class="breadcrumb">
                          <li class="breadcrumb-item"><a href="#">
                            {% if item.type == 'house' %}
                              خانه
                          {% elif item.type == 'land' %}
                              زمین
                          {% else %}
                              مغازه
                          {% endif %}
                          </a></li>
                          <li class="breadcrumb-item active" aria-current="page">
                          {% if item.house_type == 'villa'%}
                              ویلایی
                          {% elif item.house_type == 'apartment' %}
                              آپارتمانی
                          {% else %}
                          {% endif %}

                          {% if item.land_type == 'residential' %}
                                  مسکونی
                              {% elif item.land_type == 'commercial' %}
                                  تجاری
                              {% elif item.land_type == 'res_comm' %}
                                  مسکونی - تجاری
                              {% elif item.land_type == 'garden' %}
                                  باغی
                              {% elif item.land_type == 'rice_field' %}
                                  کشاورزی
                                  <!--rice field type-->
                                  {% if item.rice_field_type == 'mechanized' %}
                                         مکانیزه
                                  {% elif item.rice_field_type == 'traditional' %}
                                       سنتی
                                  {% else %}
                                  {% endif %}
                              {% else %}
                              {% endif %}
                          </li>
                        </ol>
                      </div>
                      <div class="product-title">

                        <h5>
                            <a href="{% url 'files:item_detail' item.code %}">کد : {{item.code}}</a>
                        </h5>
                        <h5>
                          <a href="{% url 'files:item_detail' item.code %}">

                          <!--type-->
                          {% if item.type == 'house' %}

                              خانه
                              <!--house type-->
                              {% if item.house_type == 'villa' %}
                                  ویلایی
                              {% elif item.house_type == 'apartment' %}
                                  آپارتمانی
                              {% else %}
                              {% endif %}

                          {% elif item.type == 'land' %}

                              زمین
                              <!--land type-->
                              {% if item.land_type == 'residential' %}
                                  مسکونی
                              {% elif item.land_type == 'commercial' %}
                                  تجاری
                              {% elif item.land_type == 'res_comm' %}
                                  مسکونی - تجاری
                              {% elif item.land_type == 'garden' %}
                                  باغی
                              {% elif item.land_type == 'rice_field' %}
                                  کشاورزی
                                  <!--rice field type-->
                                  {% if item.rice_field_type == 'mechanized' %}
                                       مکانیزه
                                  {% elif item.rice_field_type == 'traditional' %}
                                      سنتی
                                  {% else %}
                                  {% endif %}
                              {% else %}
                              {% endif %}
                          {% else %}
                              مغازه
                          {% endif %}

                          {{ item.area }} متری

                          {% if item.documents == 'deed'%}
                              سند دار
                          {% endif %}

                          {% if item.city != None %}
                          در {{ item.city }}
                          {% endif %}

                          </a>
                        </h5>
                        <ul class="product-location">
                          <li>
                            <i class="fas fa-user"></i>
                            <p><a href="{% url 'accounts:user_profile' item.user.id %}">{{item.user.username}}</a></p>
                          </li>
                          <li>
                            <i class="fas fa-clock"></i>
                                <p>ago | {{item.updated|timesince}}</p>
                          </li>
                        </ul>
                      </div>
                        <a href="{% url 'files:item_detail' item.code %}">
                            <i class="fas fa-align-justify"> </i>
                            جزئیات بیشتر...
                        </a>
                        <br>
                      <div class="product-details">
                        <div class="product-price">
                            {% if item.subject == 'mortgage' and item.all_rent_price != None %}
                              <h5 class="price">{{item.all_rent_price}}</h5><span>ودیعه</span>
                            {% elif item.subject == 'rent' and item.rent != None %}
                              <span> هر ماه </span><h5 class="price">{{item.rent}}</h5>
                            {% elif item.subject == 'sale' %}
                              {% if item.all_price != None %}
                              <h5 class="price">{{item.all_price}}</h5><span>تومان</span>
                              {% else %}
                              <h5>
                                توافقی
                              </h5>
                              {% endif %}
                            {% endif %}

                            {% if item.subject == 'mortgage' and item.all_rent_price == None %}
                            <h5>توافقی</h5>
                            {% elif item.subject == 'rent' and item.rent == None %}
                            <h5>توافقی</h5>
                            {% endif %}
                          <span></span>
                        </div>
                        <ul class="product-widget">
                          <li>
                            <a href="#" class="tooltip"
                              ><i class="fas fa-compress"></i
                              ><span class="tooltext top">مقایسه کردن </span></a
                            >
                          </li>
                          <li>
                            <button class="tooltip">
                              <i class="far fa-heart"></i
                              ><span class="tooltext top">نشانک </span>
                            </button>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>




<!--paginations-->
            {% if is_paginated %}

            <div class="row">
              <div class="col-lg-12">
                <ul class="pagination">

                  {% if page_obj.has_next %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                      <i class="fas fa-long-arrow-alt-right"></i></a>
                  </li>
                  {% endif %}

                  <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">
                    {{ page_obj.paginator.num_pages }}</a></li>

                  <li class="page-item">صفحه {{ page_obj.number }} از {{ page_obj.paginator.num_pages }}</li>

                  <li class="page-item"><a class="page-link" href="?page=1">1</a></li>

                  {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                      <i class="fas fa-long-arrow-alt-left"></i>
                    </a>
                  </li>
                  {% endif %}

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

        {% endif %}

    {% endblock %}
