{% extends 'base.html' %}
{% load static %}

    {% block title %} نتایج جستوجو  - شکارچی {% endblock %}
  {% block banner %}
    <section class="single-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="single-content">

                {% if results.exists %}
              <h2> {{allItems}} مورد پیدا شد ! </h2>
                {% endif %}
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'home:home' %}">صفحه اصلی</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                   فیلتر
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
    {% block content %}

        {% block scripts %}
        <!--3 digits space and open link on tap-->
            <script>
                let price = document.getElementsByClassName("price")
                window.onload = function WindowLoad(event) {
                  for (var i = 0; i < price.length; i++) {
                    price[i].innerHTML = price[i].innerHTML.split('').reverse().join('').replace(/(.{3})/g,'$1,').replace(/,$/,'').split('').reverse().join('')
                }}
            </script>
        {% endblock %}

        <!--search result-->
        {% if results.exists %}
    <section class="ad-list-part">
      <div class="container">
        <div class="row">
          {% for item in results %}
          <div class="col-sm-6 col-md-4 col-lg-3 card-grid">
            <div class="product-card">
              <div class="product-head">
                <div
                  class="product-img"
                    style=
                    "background: url(
                    {% if item.images.all.first %}
                    {{item.images.all.first.image.url}}
                    {% else %}
                    {% static 'images/defaults/item-default.jpg' %}
                    {% endif %}
                    ) no-repeat center;
                    background-size: cover;">
                    <span class="flat-badge
                  {% if item.subject == 'sale' %}
                    sale
                  {% elif item.subject == 'mortgage' %}
                    booking
                  {% else %}
                    rent
                  {% endif%}
                  ">
                  {% if item.subject == 'sale' %}
                    فروش
                  {% elif item.subject == 'mortgage' %}
                    رهن
                  {% else %}
                    اجاره
                  {% endif%}
                </span>
                </div>
              </div>
              <div class="product-info">
                <div class="product-tag">
                  <i class="fas fa-tags"></i>
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">
                      {% if item.type == 'house' %}
                        خانه
                      {% elif item.type == 'land' %}
                        زمین
                      {% else %}
                        مغازه
                      {% endif %}
                    </a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                      {% if item.house_type == 'villa'%}
                        ویلایی
                        {% else %}
                        آپارتمانی
                        {% endif %}

                        {% if item.land_type == 'residential' %}
                            مسکونی
                        {% elif item.land_type == 'commercial' %}
                            تجاری
                        {% elif item.land_type == 'res_comm' %}
                            مسکونی - تجاری
                        {% elif item.land_type == 'garden' %}
                            باغی
                        {% elif item.land_type == 'rice_field' %}
                            کشاورزی
                            <!--rice field type-->
                            {% if item.rice_field_type == 'mechanized' %}
                                 مکانیزه
                            {% elif item.rice_field_type == 'traditional' %}
                                سنتی
                            {% else %}
                            {% endif %}
                        {% else %}
                      {% endif %}
                    </li>
                  </ol>
                </div>
                <div class="product-title">

                  <h5>
                      <a href="{% url 'files:item_detail' item.code %}">کد : {{item.code}}</a>
                  </h5>
                  <h5>
                    <a href="{% url 'files:item_detail' item.code %}">

                    <!--type-->
                    {% if item.type == 'house' %}

                        خانه
                        <!--house type-->
                        {% if item.house_type == 'villa' %}
                            ویلایی
                        {% elif item.house_type == 'apartment' %}
                            آپارتمانی
                        {% else %}
                        {% endif %}

                    {% elif item.type == 'land' %}

                        زمین
                        <!--land type-->
                        {% if item.land_type == 'residential' %}
                            مسکونی
                        {% elif item.land_type == 'commercial' %}
                            تجاری
                        {% elif item.land_type == 'res_comm' %}
                            مسکونی - تجاری
                        {% elif item.land_type == 'garden' %}
                            باغی
                        {% elif item.land_type == 'rice_field' %}
                            کشاورزی
                            <!--rice field type-->
                            {% if item.rice_field_type == 'mechanized' %}
                                 مکانیزه
                            {% elif item.rice_field_type == 'traditional' %}
                                سنتی
                            {% else %}
                            {% endif %}
                        {% else %}
                        {% endif %}
                    {% else %}
                        مغازه
                    {% endif %}

                    {{ item.area }} متری

                    {% if item.documents == 'deed'%}
                        سند دار
                    {% endif %}

                    {% if item.city != None %}
                    در {{ item.city }}
                    {% endif %}

                    </a>
                  </h5>
                  <ul class="product-location">
                    <li>
                      <i class="fas fa-user"></i>
                      <p><a href="{% url 'accounts:user_profile' item.user.id %}">{{item.user.username}}</a></p>
                    </li>
                    <li>
                      <i class="fas fa-clock"></i>
                          <p>ago |  {{item.updated|timesince}}</p>
                    </li>
                  </ul>
                </div>
                        <a href="{% url 'files:item_detail' item.code %}">
                            <i class="fas fa-align-justify"> </i>
                            جزئیات بیشتر...
                        </a>
                <div class="product-details">
                  <div class="product-price">
                      {% if item.subject == 'mortgage' and item.all_rent_price != None %}
                        <h5 class="price">{{item.all_rent_price}}</h5><span>ودیعه</span>
                      {% elif item.subject == 'rent' and item.rent != None %}
                        <span> هر ماه </span><h5 class="price">{{item.rent}}</h5>
                      {% elif item.subject == 'sale' %}
                        {% if item.all_price != None %}
                        <h5 class="price">{{item.all_price}}</h5><span>تومان</span>
                        {% else %}
                        <h5>
                          توافقی
                        </h5>
                        {% endif %}
                      {% endif %}

                      {% if item.subject == 'mortgage' and item.all_rent_price == None %}
                      <h5>توافقی</h5>
                      {% elif item.subject == 'rent' and item.rent == None %}
                      <h5>توافقی</h5>
                      {% endif %}
                    <span></span>
                  </div>
                  <ul class="product-widget">
                    <li>
                      <a href="#" class="tooltip"
                        ><i class="fas fa-compress"></i
                        ><span class="tooltext top">مقایسه کردن </span></a
                      >
                    </li>
                    <li>
                      <button class="tooltip">
                        <i class="far fa-heart"></i
                        ><span class="tooltext top">نشانک </span>
                      </button>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </section>

        {% else %}
        </br>
          <h1 class="text-center" style="margin-top:50px; ">چیزی پیدا نکردم..</h1>
        {% endif %}

    {% endblock %}
