{% extends 'base.html' %}
{% load static %}

    {% block title %} ایجاد فایل  - شکارچی {% endblock %}
    {% block style %}
        <link rel="stylesheet" href="{% static 'css/custom/ad-post.css' %}" />
    {% endblock %}

        {% block scripts %}
        <script>
        function ToRial(str, e) {

            str = str.replace(/\,/g, '');
            var objRegex = new RegExp('(-?[0-9]+)([0-9]{3})');

            while (objRegex.test(str)) {
                str = str.replace(objRegex, '$1,$2');
            }
            var span = document.getElementById(e);
            span.innerHTML = str
            return str;
        }


var subject = null

function Subject(value) {
  subject = value
  if (value == "rent" | value == "mortgage"){
    if(value == "mortgage"){
      $(".all_rent_price").removeClass("d-none");
      $(".reent").addClass("d-none");
    }else if (value == "rent"){
      $(".all_rent_price").removeClass("d-none"),
      $(".reent").removeClass("d-none");
    }
    $(".all_price").addClass("d-none"),
    $(".land_type").addClass("d-none"),
    $(".rice_field_type").addClass("d-none");
  }else{
    $(".all_rent_price").addClass("d-none"),
    $(".reent").addClass("d-none"),
    $(".all_price").removeClass("d-none");
  };
}





function Type(value) {
  if (value == "house" | value == "shop"){
    if (subject != 'rent'){
      $(".all_rent_price").removeClass("d-none"),
      $(".reent").removeClass("d-none"),
      $(".all_price").addClass("d-none");
    }
    if (subject == 'mortgage'){
      $(".all_rent_price").removeClass("d-none"),
      $(".reent").addClass("d-none");
    }
    if (subject == 'sale'){
      $(".all_price").removeClass("d-none"),
      $(".all_rent_price").addClass("d-none"),
      $(".land_type").addClass("d-none"),
      $(".rice_field_type").addClass("d-none"),
      $(".reent").addClass("d-none");
    }
    if (value == "house"){
      $(".house_type").removeClass("d-none");
      }

    $(".options").removeClass("d-none"),
    $(".production_license").addClass("d-none"),
    $(".inside_plan").addClass("d-none"),
    $(".points").addClass("d-none");
  }else{
    $(".house_type").addClass("d-none"),
    $(".rice_field_type").addClass("d-none"),
    $(".options").addClass("d-none"),
    $(".land_type").removeClass("d-none"),
    $(".production_license").removeClass("d-none"),
    $(".inside_plan").removeClass("d-none"),
    $(".points").removeClass("d-none");
  };
}




function HouseType(value) {
  if (value == "apartment"){
  $(".floor").removeClass("d-none");
  }else{
    $(".floor").addClass("d-none");
  }
}




function LandType(value) {
  if (value == "rice_field"){
    $(".rice_field_type").removeClass("d-none"),
    $(".production_license").addClass("d-none");
  }else{
    $(".rice_field_type").addClass("d-none"),
    $(".production_license").removeClass("d-none");
  };
  if (value == "garden" | value == "rice_field"){
    $(".inside_plan").removeClass("d-none");
  }else{
    $(".inside_plan").addClass("d-none");
  }
}



        </script>
        {% endblock %}


    {% block banner %}
    <section class="single-banner">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="single-content">
              <h2>فایل جدید </h2>
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
<!-- href -->
                  <a href="{% url 'home:home' %}">صفحه اصلی</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  ایجاد فایل
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock %}


    {% block content %}
        <!--create item form-->

    <section class="dash-header-part">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-3 col-lg-2">
            <div class="dash-avatar">
<!-- href   src -->
              <a href="#"><img src="
                {% if request.user.show_avatar and request.user.avatar %}
                  {{request.user.avatar.url}}
                {% else %}
                {% static 'images/defaults/avatar-default.jpg' %}
                {% endif %}" alt="avatar" /></a>
            </div>
          </div>
          <div class="col-sm-8 col-md-9 col-lg-3">
            <div class="dash-intro">
<!-- href   var -->
              <h4><a href="#">{{request.user.username}}</a></h4>
            </div>
            <ul class="dash-meta">
              <li>
                <i class="fas fa-phone-alt"></i><span>{{request.user.phone}}</span>
              </li>
              <li>
                <i class="fas fa-map-marker-alt"></i
                ><span>{{request.user.address|default_if_none:'آدرس تعیین نشده'}} </span>
              </li>
            </ul>
          </div>
          <div class="col-lg-7">
            <div class="row">
              <div class="col-md-4 col-lg-4">
                <div class="dash-focus dash-list">
                  <h2>{{all_user_items}}</h2>
                  <p>کل فایل های شما </p>
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="dash-focus dash-book">
                  <h2>{{publish_items}}</h2>
                  <p>منتشر شده </p>
                </div>
              </div>
              <div class="col-md-4 col-lg-4">
                <div class="dash-focus dash-rev">
                  <h2>{{public_items}}</h2>
                  <p>عمومی ها</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="adpost-part">
      <div class="container">
        <div class="row">
          <div class="col-lg-10 m-auto">
            <form class="adpost-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="adpost-card">
                <div class="adpost-title"><h3>اطلاعات فایل</h3></div>
                <div class="row">
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-label">کد </label
                      ><input
                        name="code" min="-9223372036854775808" max="9223372036854775807" required id="id_code"
                        type="number"
                        class="form-control"
                        placeholder="یک کد دلخواه برای فایل خود قرار دهید"
                      />
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                      <ul class="form-check-list">
                        <li>
                           <input
                           type="checkbox"
                           name="public"
                           id="id_public"
                           checked
                           class="form-check"/>
                           <label for="id_public" class="form-label">
                            عمومی (قابل نمایش برای همه) </label>
                        </li>
                       </ul>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-label">تصاویر </label>
                      <input type="file" class="form-control" accept=".jpeg, .jpg, .png" name="img" />
                      <input type="file" class="form-control" accept=".jpeg, .jpg, .png" name="img" />
                      <input type="file" class="form-control" accept=".jpeg, .jpg, .png" name="img" />
                      <input type="file" class="form-control" accept=".jpeg, .jpg, .png" name="img" />
                      <input type="file" class="form-control" accept=".jpeg, .jpg, .png" name="img" />
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 subject">
                    <div class="form-group">
                      <label class="form-label">موضوع </label>
                      <select onchange="Subject(this.value)" class="form-control custom-select " name="subject" required id="subjectval">
                          <option value="" selected>انتخاب کنید</option>
                          <option value="sale">فروش</option>
                          <option value="mortgage">رهن</option>
                          <option value="rent">اجاره</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 type">
                    <div class="form-group">
                      <label class="form-label">نوع ملک </label>
                      <select onchange="Type(this.value)" class="form-control custom-select" name="type" required id="id_type">
                          <option value="" selected>انتخاب کنید</option>
                          <option value="land">زمین</option>
                          <option value="house">خانه</option>
                          <option value="shop">مغازه</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 land_type d-none">
                    <div class="form-group">
                      <label class="form-label">نوع زمین </label>
                        <select onchange="LandType(this.value)" class="form-control custom-select" name="land_type" id="id_land_type">
                            <option value="" selected>انتخاب کنید</option>
                            <option value="residential">مسکونی</option>
                            <option value="commercial">تجاری</option>
                            <option value="res_comm">مسکونی - تجاری</option>
                            <option value="garden">باغی</option>
                            <option value="rice_field">کشاورزی</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 house_type d-none">
                    <div class="form-group">
                      <label class="form-label">نوع خانه </label>
                        <select onchange="HouseType(this.value)" class="form-control custom-select" name="house_type" id="house_type">
                            <option value="" selected>انتخاب کنید</option>
                            <option value="villa">ویلایی</option>
                            <option value="apartment">اپارتمانی</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4 rice_field_type d-none">
                    <div class="form-group">
                      <label class="form-label">نوع زمین کشاورزی </label>
                        <select class="form-control custom-select" name="rice_field_type" id="id_rice_field_type">
                            <option value="" selected>انتخاب کنید</option>
                            <option value="mechanized">مکانیزه</option>
                            <option value="traditional">سنتی</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-4">
                    <div class="form-group">
                      <label class="form-label">مدارک </label>
                      <select class="form-control custom-select" name="documents" id="id_documents">
                          <option value="" selected>انتخاب کنید</option>
                          <option value="deed">سند </option>
                          <option value="nasaq">نسق</option>
                          <option value="arrangement">قولنامه / فروشنامه </option>

                      </select>
                    </div>
                  </div>
                  <div class="col-lg-4 all_price">
                    <div class="form-group">
                      <label class="form-label">قیمت </label
                      ><input
                            onkeyup="ToRial(this.value, 'ap');"
                            id="id_all_price"
                            name="all_price"
                        type="number"
                        class="form-control"
                        placeholder="قیمت کل (به تومان)"
                      /><span id="ap"></span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-label">متراژ </label
                      ><input onkeyup="ToRial(this.value, 'ar');"
                            name="area" min="0" required id="id_area"
                        type="number"
                        class="form-control"
                        placeholder=" متراژ به متر مربع "
                      /><span id="ar"></span>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-label">استان </label
                      ><input name="state" maxlength="20" id="id_state"
                        type="text"
                        class="form-control"
                        placeholder=" استان مورد نظر "
                      />
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div class="form-group">
                      <label class="form-label">محل </label
                      ><input name="city" maxlength="20" id="id_city"
                        type="text"
                        class="form-control"
                        placeholder=" محل/شهر مورد نظر "
                      />
                    </div>
                  </div>
                  <div class="col-lg-4 reent d-none">
                    <div class="form-group">
                      <label class="form-label">کرایه </label
                      ><input onkeyup="ToRial(this.value, 're');"
                            name="rent" min="-9223372036854775808" max="9223372036854775807" id="id_rent"
                        type="number"
                        class="form-control"
                        placeholder=" کرایه در ماه (به تومان) "
                      /><span id="re"></span>
                    </div>
                  </div>
                  <div class="col-lg-4 all_rent_price d-none">
                    <div class="form-group">
                      <label class="form-label">ودیعه </label
                      ><input onkeyup="ToRial(this.value, 'arep');"
                              name="all_rent_price" min="-9223372036854775808" max="9223372036854775807" id="id_all_rent_price"
                        type="number"
                        class="form-control"
                        placeholder=" ودیعه یا پیش پرداخت (به تومان) "
                      /><span id="arep"></span>
                    </div>
                  </div>
                  <div class="col-lg-4 foundation d-none ">
                    <div class="form-group ">
                      <label class="form-label">زیربنا </label
                      ><input name="foundation" min="0" id="id_foundation"
                        type="number"
                        class="form-control"
                        placeholder=" زیربنا (به متر مربع) "
                      />
                    </div>
                  </div>
                  <div class="col-lg-4 floor d-none ">
                    <div class="form-group">
                      <label class="form-label">طبقه </label
                      ><input name="floor" min="0" id="id_floor"
                        type="number"
                        class="form-control"
                        placeholder=" 0"
                      />
                    </div>
                  </div>
                  <div class="col-lg-4 bedroom d-none">
                    <div class="form-group">
                      <label class="form-label">تعداد خواب </label
                      ><input name="bedroom" min="0" id="id_bedroom"
                        type="number"
                        class="form-control"
                        placeholder=" مثال : 2"
                      />
                    </div>
                  </div>
                  <div class="col-lg-4 year d-none ">
                    <div class="form-group">
                      <label class="form-label">سال ساخت </label
                      ><input name="year" min="0" id="id_year"
                        type="number"
                        class="form-control"
                        placeholder=" مثال : 1402 "
                      />
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4">
                    <div class="form-group">
                      <ul class="form-check-list">
                        <li><label class="form-label">دیگر توضیحات </label></li>
                        <li>
                          <input name="exchange" id="id_exchange"
                            type="checkbox"
                            class="form-check"
                          /><label for="id_exchange" class="form-check-text"
                            >معاوضه</label
                          >
                        </li>
                        <li class="points d-none">
                          <input name="points" id="id_points"
                            type="checkbox"
                            class="form-check"
                          /><label for="id_points" class="form-check-text"
                            > امتیازات
                          </label>
                        </li>
                        <li class="inside_plan d-none">
                          <input name="inside_plan" id="id_inside_plan"
                            type="checkbox"
                            class="form-check"
                          /><label for="id_inside_plan" class="form-check-text"
                            >داخل طرح هادی
                          </label>
                        </li>
                        <li class="production_license d-none">
                          <input name="production_license" id="id_production_license"
                            type="checkbox"
                            class="form-check"
                          /><label for="id_production_license" class="form-check-text"
                            >پروانه ساخت
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-md-4 col-lg-4 options d-none">
                    <div class="form-group">
                      <ul class="form-check-list">
                        <li><label class="form-label"> امکانات </label></li>
                        <li>
                            <input name="parking" id="id_parking"
                              type="checkbox"
                              class="form-check"
                            /><label for="id_parking" class="form-check-text"
                              > پارکینگ </label
                            >
                        </li>
                        <li>
                          <input name="elevator" id="id_elevator"
                            type="checkbox"
                            class="form-check"
                          /><label for="id_elevator" class="form-check-text"
                            >آسانسور  </label
                          >
                        </li>
                        <li>
                          <input name="mdf" id="id_mdf"
                            type="checkbox"
                            class="form-check"
                          /><label for="id_mdf" class="form-check-text"
                            >کابینت  </label
                          >
                        </li>
                        <li>
                          <input name="cooler" id="id_cooler"
                            type="checkbox"
                            class="form-check"
                          /><label for="id_cooler" class="form-check-text"
                            >کولر  </label
                          >
                        </li>
                        <li>
                          <input name="water_heater" id="id_water_heater"
                            type="checkbox"
                            class="form-check"
                          /><label for="id_water_heater" class="form-check-text"
                            >آب گرمکن  </label
                          >
                        </li>
                        <li>
                          <input name="video_intercom" id="id_video_intercom"
                            type="checkbox"
                            class="form-check"
                          /><label for="id_video_intercom" class="form-check-text"
                            >آیفون تصویری  </label
                          >
                        </li>
                        <li>
                          <input name="remote_door" id="id_remote_door"
                            type="checkbox"
                            class="form-check"
                          /><label for="id_remote_door" class="form-check-text"
                            >درب ریموت دار  </label
                          >
                        </li>
                        <li>
                          <input name="warehouse" id="id_warehouse"
                            type="checkbox"
                            class="form-check"
                          /><label for="id_warehouse" class="form-check-text"
                            > بهارخواب </label
                          >
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-lg-12">
                    <div class="form-group">
                      <label class="form-label">توضیحات </label
                      ><textarea
                      name="description" id="id_description"
                        class="form-control"
                        placeholder="توضیحات تکمیلی خود را بنویسید..."
                      ></textarea>
                    </div>
                  </div>
                </div>
              </div>
<!-- if user -->
              <div class="adpost-card">
                <div class="adpost-title"><h3>اطلاعات مالک (محفوظ و غیرقابل نمایش برای دیگران)</h3></div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label">نام مالک </label
                      ><input  name="owner" maxlength="30" required id="id_owner"
                        type="text"
                        class="form-control"
                        placeholder=" اقا/خانوم..."
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label">مشخصات مالک </label
                      ><input name="owner_info" cols="40" rows="10" maxlength="200" required id="id_owner_info"
                        type="text"
                        class="form-control"
                        placeholder="شماره تلفن مالک و ..."
                      />
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label class="form-label">آدرس فایل </label
                      ><input name="address" cols="40" rows="10" maxlength="250" required id="id_address"
                        type="text"
                        class="form-control"
                        placeholder="مثال : ایران-گیلان-خیابان-کوچه "
                      />
                    </div>
                  </div>
                </div>
              </div>


              <!-- <div class="adpost-card">
                <div class="adpost-title"><h3>اطلاعات پلن</h3></div>
                <ul class="adpost-plan-list">
                  <li>
                    <div class="adpost-plan-content">
                      <h6>پلن رایگان - <span>ارسال 5 لیست آگهی</span></h6>
                      <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن
                        ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                        از طراحان گرافیک است. .
                      </p>
                    </div>
                    <div class="adpost-plan-meta">
                      <h3>رایگان</h3>
                      <button class="btn btn-outline">
                        <span>انتخاب </span>
                      </button>
                    </div>
                  </li>
                  <li>
                    <div class="adpost-plan-content">
                      <h6>پلن استاندارد - <span>ارسال 10 لیست آگهی</span></h6>
                      <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن
                        ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                        از طراحان گرافیک است. .
                      </p>
                    </div>
                    <div class="adpost-plan-meta">
                      <h3>23000 تومان</h3>
                      <button class="btn btn-outline">
                        <span>انتخاب </span>
                      </button>
                    </div>
                  </li>
                  <li>
                    <div class="adpost-plan-content">
                      <h6>پلن اورجینال - <span>لیست تبلیغات نامحدود</span></h6>
                      <p>
                        لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت
                        چاپ و با استفاده از طراحان گرافیک است. لورم ایپسوم متن
                        ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
                        از طراحان گرافیک است. .
                      </p>
                    </div>
                    <div class="adpost-plan-meta">
                      <h3>43000 تومان</h3>
                      <button class="btn btn-outline">
                        <span>انتخاب </span>
                      </button>
                    </div>
                  </li>
                </ul>
              </div> -->

                <button class="btn btn-inline" type="submit">
                  <i class="fas fa-check-circle"></i
                  ><span>منتشر کردن تبلیغ شما</span>
                </button>
            </form>
          </div>
        </div>
      </div>
    </section>

    {% endblock %}
