{% extends 'base.html' %}
    {% block content %}

        <!--item info (login required)-->
        {% if user.is_authenticated %}
            <a href="{% url 'accounts:user_profile' item.user.id %}">{{item.user}}</a>
            <p>code : {{ item.code }}</p>
            <p>owner : {{ item.owner }}</p>
            <p>area : {{ item.area }}</p>
            <p>all price : {{ item.all_price }}</p>

                <!--delete/edit item if owner-->
                {% if request.user.id == item.user.id %}
                    <a href="{% url 'files:delete_item' item.code %}"><button class="btn btn-danger">Delete</button></a>
                    <a href="{% url 'files:edit_item' item.code %}"><button class="btn btn-warning">Update</button></a>
                {% endif %}

        {% else %}
            <h1>You Are Not Logged In</h1>
        {% endif %}

    {% endblock %}