{% extends 'base.html' %}
    {% block content %}

        <!--edit profile form (login required)-->
        {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {{user.phone}}<a class="btn btn-warning" href="{% url 'accounts:edit_phone' %}">Edit</a>
            <input type="submit" value="Update">
        </form>
        {% else %}
            <h1>You Are Not Logged In</h1>
        {% endif %}
    {% endblock %}
