{% extends 'base.html' %}
    {% block content %}

        {% if user.is_authenticated %}

            {% if request.user.id == items_user %}
                <a href="{% url 'accounts:edit_profile' request.user.id %}">
                    <button class="btn btn-warning">Edit Profile</button>
                </a>
                <br/>
                <hr/>
            {% endif %}

            {% for item in items %}
                <a href="{% url 'files:item_detail' item.code %}">{{ item }}</a>
                <br/>
                <hr/>
            {% endfor %}

        {% else %}
            <h1>You Are Not Logged In</h1>
        {% endif %}

    {% endblock %}
