{% extends 'base.html' %}
{% load static %}

      {% block style %}
        <link rel="stylesheet" href="{% static 'css/custom/404.css' %}" />
      {% endblock %}

{% block content %}
    <section class="error-part">
      <div class="container">
        <div class="error">
          <h1>500</h1>
          <h2>خطایی از سمت سرور رخ داده !</h2>
          <a href="{% url 'home:home' %}" class="btn btn-outline"
            ><i class="fas fa-home"></i><span>برو صفحه اصلی</span></a
          >
        </div>
      </div>
    </section>
{% endblock %}