{% load static %}
<!DOCTYPE html>
<html lang="en">
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="erfansafarzad" />
    <meta name="email" content="erfansafarzad7@gmail.com" />
    <meta name="profile" content="" />
    <meta name="name" content="shekaarchi - شکارچی" />
    <meta name="type" content="Classified Advertising" />
    <meta name="title" content="سایت شکارچی - مدیریت فایل املاک" />
    <meta
      name="keywords"
      content="shekaarchi, سایت شکارچی, سایت مدیریت فایل, مدیریت فایل, فایل املاک, شکارچی, شکارچی صفحه اصلی, مدیریت فایل آنلاین, مدیریت فایل املاک, املاک, ملک, زمین کشاورزی, زمین, زمین مسکونی, زمین باغی, خانه, خانه ویلایی, خانه آپارتمانی, خرید, فروش, رهن, اجاره, خرید زمین, زمین روستایی, shekarchi, classified, ads, classified ads, listing, business, directory, jobs, marketing, portal, advertising, local, posting, ad listing, ad posting,"
    />
    <title>{% block title %} {% endblock %}</title>

    <link rel="icon" href="{% static 'images/shekaarchi-favicon3.png' %}" />
    <link rel="stylesheet" href="{% static 'fonts/flaticon/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/slick.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" />
<!--    fontawesome    -->
<!--    <link rel="stylesheet" href="{% static '/cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css' %}"/>-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
<!--    custom css    -->
    <link rel="stylesheet" href="{% static 'admin/css/' %}" />
    <link rel="stylesheet" href="{% static 'css/custom/main.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom/grid-list.css' %}" />
      {% block style %} {% endblock %}

  </head>
  <body>
  {% include 'inc/navbar.html' %}
  {% include 'inc/messages.html' %}
  {% block banner %} {% endblock %}

  {% block content %}

  {% endblock %}
  {% include 'inc/footer.html' %}

    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/vendor/slick.min.js' %}"></script>
    <script src="{% static 'js/custom/slick.js' %}"></script>
    <script src="{% static 'js/custom/main.js' %}"></script>
        {% block scripts %} {% endblock %}
  </body>
</html>
